
<!DOCTYPE html>
@{
    Layout = null;
}
@model PDAEstimator_Domain.Entities.ResetPassword

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ResetPassword </title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @*<div class="login-logo">
        <a href="~/index2.html"><b>U & I Holidays</b></a>
        </div>*@
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>PDA </b>Estimator</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
              
@*                     <p class="login-box-msg text-danger">Token Is not Valid </p> *@
            
                <form method="post">
                    <div asp-asp-validation-summary="All" class="text-danger"></div>
                          <input asp-for="Token" id="Token" type="hidden" />
                    <input asp-for="userId" id="UserID" type="hidden" />


                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" id="Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" onclick="ChangePassword()" >Submit</button>
                </form>


            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>

    <script>
        function ChangePassword()
        {
            var Data;

            Data = {
                "userId": $('#UserID').val(),
                "Password": $('#Password').val(),
            }

            $.ajax({
                type: "POST",
                url: "/ResetPassword/ChangePassword",
                data: Data,
                success: function (data) {
                    debugger;
                },
                error: function () {
                    $("#TokenError").show();
                }
            });
        }
        </script>

</body>
</html>